# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# setuptools_scm
pinnx/_version.py

# PyCharm
.idea/

related-projects.md

# .dat files in the docs folder and it's subfolders
docs/**/*.dat
docs/**/*.npz

.DS_Store
docs/apis/
!docs/apis/pinnx.rst
!docs/apis/pinnx.callbacks.rst
!docs/apis/pinnx.fnspace.rst
!docs/apis/pinnx.grad.rst
!docs/apis/pinnx.metrics.rst
/dev/
